<div class="row">
  <div class="box">
      <div class="col-lg-12">
        <div class="col-md-6 col-md-offset-3">
      <h2>Update Your Profile</h2>
<% provide(:button_text, 'Save changes') %>
<%= render 'form' %>
<%= render 'shared/error_messages', object: f.object %>
    <div class="gravatar_edit">
      <%= gravatar_for @customer %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    
<%= link_to 'Show', @customer %> 
<%= link_to 'Back', customers_path %>
    </div>
  </div>
</div>
</div>
</div>
