<!DOCTYPE html>
<html>
<head>
  <title>Heirloom Era</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
     <!-- % flash.each do |alert| %>
      <div class="alert alert-danger alert-dismissable fade in"><%= alert %>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
    <!--% end %> -->
         <%= flash_messages %>

    <div class="brand">Heirloom Era</div>
    <div class="address-bar"> Craft Place |  Artist Hill, D24CK70 | 123.321.199</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
        
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/">Heirloom Era</a> 
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/ideas">Ideas</a>
                    </li>
                    <li>
                        <a href="/orders">Orders</a>
                    </li>
                    <li>
                        <a href="/customers">Customer Profile</a>
                    </li>
                    
                    <% if c_care? %>  
                    <li><a href="/customer_care"> Customer Care</a></li>
                    <% end%>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if logged_in? %>
                    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                    <% else %>
                    <li><%= link_to "Log in", login_path %></li>
                    <% end %>
                   </ul> 
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
    
        <!-- /.container -->
    </nav>

    <p><%= yield %></p>
  
    <!-- /.container -->

    <footer>
        
            <div class="row">
               <div class="navbar-footer"> 
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Heirloom Era 2016</p>
                </div>
                </div>
            </div>
            
            <!-- debug information -->
            <%= debug(params) if Rails.env.development? %>
       
    </footer>

    <!-- jQuery 
    <script src="javascript/jquery.js"></script>
    -->

    <!-- Bootstrap Core JavaScript
    <script src="javascripts/bootstrap.min.js"></script>
     -->

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>
</html>
